<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>


<h2>Add Task</h2>

<form method="POST" th:action="@{/saveTask}" th:object="${task}">
<table class="table">

       <thead style="background:#357;">
            <tr>
            <th scope="col">Task name</th>
            <th scope="col" colspan="2">Folder</th>
            </tr>
        </thead >
        
        <tbody>
        <tr><td>
	<input type="text" placeholder="add" id="add" th:field="*{name}" style="color:#222;width: 200px; padding:6px; outline:none;">
        </td>
        <td>
	<select name="folder" th:field="*{taskFolder}" style="color:#222;width: 200px; padding:6px; outline:none;">

	<option th:each = "folder : ${listFolder}"
	th:value="${folder.idFolder}"
	th:text="${folder.folderName}"
	/>
	</select>
        </td><td>
	<input type="submit" value="Add" style="border-radius:3px; padding:6px; width:80px; background:#258;">
	</td>
	</tr>
</form >
</tbody>
</table>
</body>
</html>